!!!
html
    head
        block head
            title= title
            link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
            link(rel='stylesheet', href='/css/bootstrap.min.css')
            link(rel='stylesheet', href='/css/style.css')
            block scripts
                script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
                script(src="/js/knockout.js")
                script(src="/js/knockout.mapping.js")
                script(src="/js/bootstrap-dropdown.js")
                script(src="/js/bootstrap.min.js")
    body(style="padding-top:60px")
        block content
        script(type="application/javascript")
            $('.dropdown-toggle').dropdown()